*{
    background:#F3F5FC;
    font-family: 'Inter';
    font-weight: 1000;
    font-size: 32px;
    line-height: 150%;
    overflow-y: visible;
}
/*Este es el estilo del logo*/
.logo{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 40px;
}

.logo{
    position: absolute;
    width: 120px;
    height: 48px;
    left: 40px;
    top: 40px
}
/*Este es el estilo del textarea*/
.texto{
    resize: none;
    outline: none;
    position: absolute;
    width: 600px;
    height: 48px;
    left: 240px;
    top: 100px;
    border-color: #F3F5FC;
    max-height: 400px;
    
}

.texto{
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
    color: #0A3871;
}

.texto::-webkit-scrollbar{
    width: 0px;
}

.texto::placeholder{
    color: #0A3871;
}

/*Este es el estilo del rectangulo del texto de encriptado o desencriptado*/
.rectangulo{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 400px;
    height: 600px;
    left: 900px;
    top: 40px;
    background: #FFFFFF;
    box-shadow: 0px 24px 32px -8px rgba(0,0,0,0.88);
    border-radius: 32px;
}

.muñeco{
    display: flex;
    position: relative;
    width: 336px;
    height: 304px;
    background: #FFFFFF;
}

.parrafo1{
    width: 336px;
    height: 58px;

    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
    text-align: center;
    color: #343A40;

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    background: #FFFFFF;
    padding-top: 10px;
   
}

.parrafo2{
    width: 336px;
    height: 48px;

    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-align: center;

    color: #495057;

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    background: #FFFFFF;
    padding-top: 20px;
}

/*Este es estilo del comentario de caracteres especiales*/
.caracteres{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 8px;

}

.caracteres{
    position: absolute;
    width: 252px;
    height: 18px;
    left: 240px;
    top: 550px;
    
    
}

.img-info{
    display: flex;
    width: 16px;
    height: 16px;

    flex: none;
    order: 0;
    flex-grow: 0;
}

.info{
    width: 228px;
    height: 18px;

    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    color: #495057;
    opacity: 0.8;

    flex: none;
    order: 1;
    flex-grow: 0;
}   
    

/*Estos son los estilos de los botones*/
.botones{
    display: flex;
    flex-direction: row;
    align-items: center;

    padding: 0px;
    gap: 8px;

    position: absolute;
    width: 680px;
    height: 67px;
    left: 200px;
    top:  600px;
    background-color: #F3F5FC;
}

.btn-encriptar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 24px;
    gap: 8px;

    width: 328px;
    height: 67px;

    background: #0A3871;
    border-radius: 24px;

    width: 280px;
    height: 19px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;

    color: #FFFFFF;
    
    flex: none;
    order: 0;
    flex-grow: 1;

   
}

.btn-desencriptar{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 24px;
    gap: 8px;

    width: 328px;
    height: 67px;

    background: #D8DFE8;
    border: 1px solid #0A3871;
    border-radius: 24px;
    flex: none;
    order: 1;
    flex-grow: 0;

    width: 280px;
    height: 19px;

    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;

    color: #0A3871;

    flex: none;
    order: 0;
    flex-grow: 1;
}

/*Este es el pie de pagina*/
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 400px;
    height: 100%;
    top: 700px;
    left: 500px;
}

.footerContainer{
    width: 100%;
    padding: 70px 30px 20px;
}

.socialIcons{
    display: flex;
    position: absolute;
    justify-content: center;
}

.socialIcons a{
    text-decoration: none;
    padding: 10px;
    background-color: #FFFFFF;
    margin: 10px;
    border-radius: 50%;
    
}

.socialIcons a i{
    font-size: 1em;
    background-color: #FFFFFF;
    color: #111;
    opacity: 0.9;
}

/*Hover Effect on Social Media Icons*/


.socialIcons a:hover{
    background-color: #0A3871;
    transition: 0.5s;
    
}

.socialIcons a:hover i{
    color: #F3F5FC;
    background-color: #0A3871;
    transition: 0.5s;
}

.footerBottom{
    position: absolute;
    font-size: 15px;
    background-color: #F3F5FC;
    padding: 20px;
    display: flex;    
    top: 150px;
    left: 20px;
}

.footerBottom p{
    color: #343A40;
}

.designer{
    opacity: 0.7s;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 1000;
    margin: 0px 5px;
    
}


@media (max-width: 57.5em) {
    .container{
        display: flex;
        flex-direction: row;
    }
    .rectangulo{ 
        width: 100%;
    }
    .texto {
        width: 80%;
        height: 60%;
        left: 10%;
        top: 5%;
    }
    .caracteres {
        width: 80%;
        left: 10%;
        top: 67%;
    }
    .caracteres h6 {
        font-size: 16px;
    }
    .botones {
        width: 80%;
        left: 10%;
        top: 70%;
    }
    .btn-encriptar, .btn-desencriptar {
        width: 48%;
        border-radius: 16px;
    }
    .btn-encriptar:hover,.btn-desencriptar:hover {
        margin: 0.3%;
        width: 47.5%;
        padding: 1.8%;
    }
    .rectangulo {
        width: 80%;
        height: 15%;
        left: 10%;
        top: 80%;
    }
    .
}