

.contenedor{
    position: relative;
    width: 100vw;
    height: 100vh;
    background: #F3F5FC;
}
/*Este es el estilo del logo*/
.logo{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0%;
    gap: 40px;

    position: absolute;
    width: 10%;
    height: 8%;
    left: 1%;
    top: 4%;
}

/*Este es el estilo del textarea*/
.texto{
    resize: none;
    outline: none;
    position: absolute;
    width: 42%;
    height: 60%;
    left: 12%;
    top: 15%;
    border: none;
    max-height: 400px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
    background-color: #F3F5FC;  
}

.texto::-webkit-scrollbar{
    width: 0px;
}
.texto::placeholder{
    color: #0A3871;
}

.texto:focus,.texto:active{
    border: none;
    outline: none;
}

.terminos {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 8px;
    position: absolute;
    width: 80%;
    left: 12%;
    top: 80%;
}

.terminos p{
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    color: #495057;
    opacity: 0.8;
    flex: none;
    order: 1;
    flex-grow: 0; 
}

.botones{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 1% 0;
    position: absolute;
    width: 80%;
    left: 12%;
    top: 82%;
    gap: 8px;
}

.btn-encriptar {
    align-items: center;
    justify-content: center;
    padding: 2%;
    gap: 8px;
    width: 25%;
    background-color: #0A3871;
    border-radius: 24px;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
}

.btn-desencriptar {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    padding: 2%;
    gap: 8%;
    width: 25%;
    background: #D8DFE8;
    border: 1 px solid #0A3871;
    border-radius: 24px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 19px;
    text-align: center;
    color: #0A3871;
}

.btn-desencriptar:hover,.btn-encriptar:hover{
    margin: 0.3%;
    width: 24.5%;
    padding: 1.8%;
}

.encriptado{
    display: flex;
    justify-content: center;
    position: absolute;
    width: 30%;
    height: 90%;
    left: 60%;
    top: 5%;
    background: #FFFFFF;
    box-shadow: 0px 24px 32px -8px rgba(0,0,0,0.08);
    border-radius: 32px;
}

.mensaje-encriptado{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1%;
    gap: 16px;
    position: absolute;
    width: 100%;
    top: 65%;
    text-align: center;
}

.mensaje-encriptado h2{
    width: 60%;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
    text-align: center;
    color: #343A40;
}

.mensaje-encriptado p{
    width: 80%;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: #495057;
}

.encriptado img{
    position: absolute;
    width: 80%;
    height: 50%;
    top: 15%;
}
/*Este es el estilo del rectangulo del texto de encriptado o desencriptado*/


/*Este es el pie de pagina*/


.footerContainer{
    
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    display: flex;
    width: 100%;
}

.socialIcons{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1%;
    gap: 1%;
    position: absolute;
    
    width: 100%;
    top: 100%;
    background: #F3F5FC;
    
}

.socialIcons a{
    text-decoration: none;
    padding: 1%;
    background-color: #FFFFFF;
    margin: 0.5%;
    border-radius: 50%;
    margin-top: auto;
    
    
}

.socialIcons a i{
    font-size: 1em;
    background-color: #FFFFFF;
    color: #111;
    opacity: 0.9;
    
}

/*Hover Effect on Social Media Icons*/


.socialIcons a:hover{
    background-color: #0A3871;
    transition: 0.5s;
    
}

.socialIcons a:hover i{
    color: #F3F5FC;
    background-color: #0A3871;
    transition: 0.5s;
}
.designer{ 
    opacity: 0.7s; 
    text-transform: uppercase;
    letter-spacing: 1%;
    font-weight: 800;
   
}


@media (max-width: 57.5em) {
    .logo{
        width: 10%;
        height: 3%;
        top: 1%;
        left: 1%;
    }
    .contenedor{
        display: flex;
        flex-direction: row;
    }
    .encriptar{ 
        width: 100%;
    }
    .texto {
        width: 80%;
        height: 60%;
        left: 10%;
        top: 5%;
    }
    .terminos {
        width: 80%;
        left: 10%;
        top: 67%;
    }
    .terminos h6 {
        font-size: 16px;
    }
    .botones {
        width: 80%;
        left: 10%;
        top: 70%;
    }
    .btn-encriptar, .btn-desencriptar {
        width: 48%;
        border-radius: 16px;
    }
    .btn-encriptar:hover,.btn-desencriptar:hover {
        margin: 0.3%;
        width: 47.5%;
        padding: 1.8%;
    }
    .encriptado {
        width: 80%;
        height: 15%;
        left: 10%;
        top: 80%;
    }
    .mensaje-encriptado{
        width: 100%;
        top: 5%;
    }
    .encriptado img{
        top: 0;
        display: none;
        visibility: hidden;
    }
    .footerContainer{
        top: 0;
        display: none;
        visibility: hidden;
    }